<%- include('./partials/header') %>
<%- include('./partials/navbar') %>

<h1 class="profile-title">My Profile</h1>

<hr>

<div class="gig-list-profile">
<h2 class="profile-subtitle">My Gigs</h3>
<% for (const gig of myGigs) { %>
    <ul>
        <li><a href="/gigs/<%= gig.id %>"><%= gig.name %></a></li>
    </ul>
<% } %>

<hr>

<h2 class="profile-subtitle">Gigs I Am Going To</h3>
<% for (const gig of gigsIAmGoingTo) { %>
    <ul>
        <li><a href="/gigs/<%= gig.id %>"><%= gig.name %></a></li>
    </ul>
<% } %>
</div>

<%- include('./partials/footer') %>