<%- include('../partials/header') %>
    <%- include('../partials/navbar') %>

        <h1 class="edit-title">Edit Gig</h1>

        <div class="edit-form">
            <form action="/gigs/<%= gig.id %>?_method=put" method="post">
                <label for="nameInput"><b>Name:</b></label>
                <input type="text" name="name" id="nameInput" required value="<%= gig.name %>">

                <br><br>

                <label for="dateInput"><b>Date:</b></label>
                <input type="text" name="date" id="dateInput" required value="<%= gig.date %>">

                <br><br>

                <label for="typeInput"><b>Type:</b></label>
                <input type="text" name="type" id="typeInput" value="<%= gig.type %>">

                <br><br>

                <label for="priceInput"><b>Price:</b></label>
                <input type="number" name="price" id="priceInput" min="0" value="<%= gig.price %>">

                <br><br>

                <label for="descriptionInput"><b>Description:<b></label>
                <textarea name="description" id="descriptionInput" required><%= gig.description %></textarea>

                <br><br>

                <button id="update">Update</button>

            </form>

        </div>

        <%- include('../partials/footer') %>