<%- include('../partials/header') %>
<%- include('../partials/navbar') %>

<h1>Upcoming Gigs</h1>

<div class="all-gigs">
<img src="/img/party.jpg" alt="people partying at a club" class="all-gigs-img">

<ul id="gig-list">
    <% for (const gig of gigs) { %>
        <li>
            <a href="/gigs/<%= gig.id %>">
                <%= gig.name %>
            </a>
        </li>
        <% } %>
</ul>
</div>

<%- include('../partials/footer') %>