<%- include('../partials/header') %>
<%- include('../partials/navbar') %>

<h1 class="gig-name"><%= gig.name %></h1>


<h3 class="attendees">
    Gig Attendees:
    <%= gig.gigAttendees.length %>
</h3>

<div class="show-body">
<% if(user) { %>

    <% if(userIsGoing) { %>
        <form action="/gigs/<%= gig.id %>/going?_method=delete" method="post">
            <b>YOU ARE GOING TO THIS GIG!</b><br><br>
            <button id="not-going">Not Going</button>
        </form>

    <% } else { %>
    <form action="/gigs/<%= gig.id %>/going" method="post">
        <button id="going">I AM GOING</button>
    </form>
    <% } %>

<% } %>

<br>
<hr>

<p>
    <b>Date:</b> <%= gig.date %>
</p>

<p>
    <b>Type:</b> <%= gig.type %>
</p>

<p>
    <b>Price:</b> $AUD <%= gig.price %>
</p>

<p>
    <b>Description:</b> <%= gig.description %>
</p>

<p>
    <strong>Owner:</strong> <%= gig.owner.email %>
</p>

</div>

<br>

<% if(user && user.id === gig.owner.id) { %>
    <form action="/gigs/<%= gig.id %>/edit"><button id="edit">Edit</button></form>
    <br><br>
    <form action="/gigs/<%= gig.id %>?_method=delete" method="post">
    <button id="delete">Delete</button>
<% } %>
    </form>

<%- include('../partials/footer') %>