<%- include('../partials/header') %>
<%- include('../partials/navbar') %>

<h2><%= gig.name %></h2>

<h3>
    Gig Attendees:
    <%= gig.gigAttendees.length %>
</h3>

<% if(user) { %>

    <% if(userIsGoing) { %>
        <form action="/gigs/<%= gig.id %>/going?_method=delete" method="post">
            <b>YOU ARE GOING TO THIS GIG!</b><br><br>
            <button>Not Going</button>
        </form>

    <% } else { %>
    <form action="/gigs/<%= gig.id %>/going" method="post">
        <button>I AM GOING</button>
    </form>
    <% } %>

<% } %>

<hr>

<p>
    <b>Date:</b> <%= gig.date %>
</p>

<p>
    <b>Type:</b> <%= gig.type %>
</p>

<p>
    <b>Price:</b> $AUD <%= gig.price %>
</p>

<p>
    <b>Description:</b> <%= gig.description %>
</p>

<p>
    <strong>Owner:</strong> <%= gig.owner.email %>
</p>

<% if(user && user.id === gig.owner.id) { %>
    <form action="/gigs/<%= gig.id %>/edit"><button>Edit</button></form>
    <br>
    <form action="/gigs/<%= gig.id %>?_method=delete" method="post">
    <button>Delete</button>
<% } %>
    </form>

<%- include('../partials/footer') %>